<launch>
  <param name="/use_sim_time" value="true"/>

  <node name="state_estimator" pkg="fuse_optimizers" type="fixed_lag_smoother_node">
    <rosparam command="load" file="$(find fuse_tutorials)/config/fuse_simple_tutorial.yaml"/>
  </node>

  <node name="bag_play" pkg="rosbag" type="play" args="$(find fuse_tutorials)/data/turtlebot3.bag --clock -d 3"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fuse_tutorials)/config/fuse_simple_tutorial.rviz"/>
</launch>
